/** Apply the default style */
html {
    background-color: #f5f5f7;
}

a:active, a:hover, a {
    color: #fff;
    text-decoration: none;
}

body, ul {
    margin: 0;
    font-family: "SF Pro Display", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: .25em 0;
}

.application__main_content-structure {
    padding: 0 32px;
}

/** Import the default fonts */
@font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/sf-pro-text_regular.woff2) format("woff2");
}

@font-face {
    font-family: "SF Pro Text Medium";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/sf-pro-text_medium.woff2) format("woff2");
}

@font-face {
    font-family: "SF Pro Text Bold";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(fonts/sf-pro-text_bold.woff2) format("woff2");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/sf-pro-display_regular.woff2) format("woff2");
}

@font-face {
    font-family: "SF Pro Display Semibold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/sf-pro-display_semibold.woff2) format("woff2");
}

@font-face {
    font-family: "SF Pro Display Bold";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(fonts/sf-pro-display_bold.woff2) format("woff2");
}


/** Apply the header's style */
.application__header_content-structure {
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    top: 0;
    position: sticky;
    height: 44px;
}


/** Sub menu reference. */
.application__quick_links-content {
    font-size: 12px;
    line-height: 1.33337;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: #6e6e73;
    font-weight: normal;
}

.application__header_subnav-structure > li > a {
    color: #1d1d1f;
}

.application__header_subnav-structure > li > a:hover {
    color: #06c;
}

.application__header_subnav-structure {
    list-style: none;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    transition: 150ms all ease-out;
    padding: 24px 40px 18px;
    border-radius: 12px;
    margin-top: 20px;
    position: relative;
    border: 1px solid #dbdbdb;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.application__header_subnav-structure::before {
    border: 8px solid transparent;
    border-bottom: 8px solid #dbdbdb;
    content: "";
    left: auto;
    top: -16px;
    display: inline-block;
    position: absolute;
    color: #fff;
}

.application__header_subnav-structure::after {
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
    content: "";
    left: 41px;
    top: -14px;
    position: absolute;
}

.application__header_item-important:hover ~ .application__header_subnav-structure {
    opacity: 1;
    visibility: visible;
    transition: 150ms all ease-out;
}

.application__header_navigation-structure {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
    max-width: 975px;
    margin: auto;
}

.application__header_navigation-structure > li {
    list-style: none;
    font-family: "SF Pro Display bold", sans-serif;
    color: #fff;
}

/** Title principal. */
#presentation {
    font-family: "SF Pro Display bold", sans-serif;
    font-size: 32px;
}

.application__progressbar_content-legend {
    font-family: "SF Pro Text bold", sans-serif;
}

/** Apply the section's style */
.application__advantages_multi-container {
    display: grid;
    grid-column-gap: 32px;
}

.application__portfolio_content-structure {
    height: 275px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.application__advantages_content-structure {
    padding: 25px;
    margin-bottom: 32px;
    background-color: #fff;
    border-radius: 12px;
}

.application__presentation_description_content {
    font-family: "SF Pro Text bold", sans-serif;
}

.application__presentation_description-structure {
    display: flex;
}

.application__presentation_title-content {
    font-family: "SF Pro Text bold";
    letter-spacing: -.05em;
}

.application__presentation_title-container {
    display: flex;
    align-items: center;
}

.application__presentation_illustration-structure {
    border-radius: 100%;
    background-color: #757575;
    padding: 8px;
    height: 48px;
    width: 48px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.application__presentation_illustration-network {
    height: 40px;
    width: 40px;
}

.application__advantages_multi-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
}

.application__presentation_container-structure {
    width: 75%;
}

/** Personalized progress bar */
.application__progressbar_container-structure {
    height: 24px;
    border-radius: 12px;
    background-color: #e6e6e6;
}

.application__progressbar_content-personalized {
    border-radius: 12px;
    background-color: #ccc;
    width: 75.85%;
    height: 100%;
}
